<p-tabView>
    <p-tabPanel header="报警消息">
		<alarm-table></alarm-table> 
    </p-tabPanel>
    <p-tabPanel header="子系统">
        <subsys-table></subsys-table>
    </p-tabPanel>
    <p-tabPanel header="场景 ">
        <!--<scene-table></scene-table>!-->  
	</p-tabPanel>
	<p-tabPanel header="防区 ">
    	<zone-table></zone-table>   
	</p-tabPanel>
	<p-tabPanel header=" 继电器">
    	<!--<relay-table></relay-table>!-->   
	</p-tabPanel>
	<p-tabPanel header="配置">
       主机配置  
	</p-tabPanel>

	<p-tabPanel header="CID定义">
		<!--<cid-table></cid-table>!-->
	</p-tabPanel>	

</p-tabView>