<div class="main-menu-container">
		<div class="menu-content">

			<!--template bindings={}
			<accordion>

				<accordion-group #group [isDisabled]="true" *ngFor="let curOper of operatorList" [class.selected]="curOper === selectedOperator"
				 (click)="onSelectCustom(curOper)">
					<div accordion-heading>
						{{curOper.name}}
					</div>

				</accordion-group>

			</accordion>-->
			<p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>	
			
		</div>


		<br>
		<br>

</div>