<div class="api-doc-component" style="background:#f7f7f7">

  <!--<h3>
    <a target="_blank" href="https://github.com/valor-software/ng2-bootstrap/tree/development/src/buttons/button-radio.directive.ts">报警消息</a>
  </h3>-->
  <br>
  <div class="container" >
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div  style="background:#f0f0f0; display: block"> 
          <p-chart type="doughnut" [data]="deviceTypeData"></p-chart>
        </div> 
      </div>
      <div class="col-md-8">
        <div  style="background:#f0f0f0; padding-left:18px;  display: block"> 
          <p-chart type="bar" [data]="onlineOfflineData"></p-chart>
        </div>  
      </div>   
    </div>  
    <div class="row">
      <div class="col-md-12">
        <div  style="background:#f0f0f0; padding-left:18px; display: block">
          <p-chart type="line" [data]="alarmNumByCustoms" ></p-chart> 
         </div> 
      </div>
    </div>    
  </div>
</div>