<div class="api-doc-component" style="background:#f7f7f7">

  <!--<h3>
    <a target="_blank" href="https://github.com/valor-software/ng2-bootstrap/tree/development/src/buttons/button-radio.directive.ts">报警消息</a>
  </h3>-->
  <br>
  <div class="container" >
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" style="padding-bottom:8px; padding-right:8px;">
        <div  style="background:#f0f0f0; height:295px"> 
          <p-chart type="doughnut" [data]="deviceTypeData"></p-chart>
        </div> 
      </div>
      <div class="col-md-8 col-lg-8" style="padding-bottom:8px; padding-left:8px;">
        <div  style="background:#f0f0f0; height:295px"> 
          
          <p-chart type="line" [data]="alarmNumByCustoms" ></p-chart> 
        </div>  
      </div>   
    </div>  
    <div class="row">
      <div class="col-md-12 col-lg-12" style="padding-top:8px;">
        <div  style="background:#f0f0f0;">
          <p-chart type="bar" [data]="onlineOfflineData"></p-chart>
         </div> 
      </div>
    </div>    
  </div>
</div>

<!-- background:#FF6384; background:#FFCE56; background:#36A2EB; background:#9CCC65"!-->