<div id="main-menu">
	<!--
	<div class="menu-search">
		<input name="search" placeholder="Search..." type="text" class="ng-untouched ng-pristine ng-valid">
	</div>
	<br>
	<div class="menu-map">
		<button type="button" class="btn btn-primary" style="width:100%;height: 40px;"(click)="onTest()">测试按钮</button>
	</div>
!-->
	<br>
	<div class="main-menu-container">
		<div class="menu-content">
      <div class="row">
        测试数据
        <input
          [(ngModel)]="aaa"/>
      </div>

			<!--for primeng !-->
			<p-panelMenu [model]="items"></p-panelMenu>
		</div>


		<br>
		<br>

	</div>



</div>

<!--<tab heading="农业银行主机 2"></tab>
						<tab heading="农业银行主机 3"></tab>
						<tab heading="农业银行主机 4"></tab>
						<tab heading="农业银行主机  5"></tab>
						<tab heading="农业银行主机  6"></tab>-->
